button{
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  padding: 1.3em 2.4em;
  border-radius: 5px;
  background: $color-brown;
  border: none;
  outline: none;
  cursor: pointer;
  border-bottom: 4px solid #736357;
  &:hover{
    background: #99704c;
    border-bottom: 4px solid #6e472a;
  }
}