.any {
  &-container {
    background-color: #191919;
    padding: 0 17%;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5.5em;
    justify-content: center;


  }

  &__box {
    flex: 1 1 270px;
    padding: 0.5em;

    &:first-child {
      position: relative;
      top: -1.1em;
    }

  }

  &__logo {
    margin-bottom: 1.5em;
  }

  &__title {
    color: #fff;
  }

  [class$="text"] {
    color: $color-s-gray;
    line-height: 1.7em;

  }

  &-box__button {
    margin-top: 1.8em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #fff;
    position: relative;
    display: block;
    @include font-MT;
    font-weight: 600;
    line-height: 1em;

    span {
      padding-left: 0.4em;

      .fas {
        vertical-align: middle;
        top: 2px;
      }
    }


  }

  [class$="title"]:not(.logo__title) {
    color: #fff;
    font-size: 1.7em;
    font-weight: 700;
    @include font-R;
  }

  [class$="item"]:not([class*="widgetr"]) {
    padding: 0.8em 0;

    &:nth-child(3) {
      span {
        color: #fff;

      }
    }

    &:hover {
      [class*="text"] {
        color: $color-l-brown;
      }

      .any-post__date,
      [class$="time"] {
        color: #fff;
      }
    }

    &:nth-child(2):not(:last-child) {
      border-top: 1px solid rgba($color-s-gray, 0.5);
      border-bottom: 1px solid rgba($color-s-gray, 0.5);
    }
  }

  &-post__date {
    color: $color-s-gray;
    font-size: 0.8em;
    line-height: 2.5em;

  }

  &-post__date-text {
    color: $color-gray;
  }

  [class$="time"] {
    color: #363636;
    line-height: 2.5em;
    font-size: 0.8em;
  }

  &-twitter__text {
    span {
      color: #00bff3;
    }
  }

  &-widgetr__list {
    margin-top: 1.7em;
    display: flex;
    flex-wrap: wrap;

  }

  &-widgetr__item {

    margin: 0.4em;

    img {
      display: block;
      max-width: 100%;
    }
  }
  .text-hidden{
    display: none;
   
  }
  .text-hidden--open{
    animation: animationFrames 0.8s ease 0s 1 alternate;
  }
}

@media screen and (max-width: 1800px) {
  .any-container {
    padding: 0 12%;
  }
}

@media screen and (max-width: 1600px) {
  .any-container {
    padding: 0 8%;
  }
}

@media screen and (max-width: 1400px) {
  .any-container {
    padding: 0 2%;
  }
}