.partners {
  &-container {
    max-width: 100%;
    padding: 0 18%;
    background-image: url('../images/bgd-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    // max-height: 705px;
  }

  &__block {
    padding: 11vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

  }

  &__box {
    flex: 1 1 20%;
    margin: 1em;
    max-width: 200px;
    min-width: 100px;
    

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 875px) {
  .partners-container {
   padding: 0 2%;
  }
  .partners__block  {
    justify-content: center;
  }
}