.partners {
  &-container {
    max-width: 100%;
    padding: 0 18%;
    background-image: url('../images/bgd-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    // max-height: 705px;
  }

  &__block {
    padding: 21vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

  }

  &__box {
    flex: 1 1 20%;
    margin: 2em;
    max-width: 14em;
    min-width: 6em;


    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1500px) {
  .partners-container {
    font-size: 13px;
    padding: 0 8%;
  }

  .partners__block {
    justify-content: center;
  }
}
@media screen and (max-width: 1120px) {
  .partners-container {
    font-size: 11px;
    padding: 0 4%;
   
  }
  .partners__box{
    margin: 0.5em;
  }
  .partners__block {
    justify-content: center;
  }
}

@media screen and (max-width: 875px) {
  .partners-container {
    padding: 0 2%;
  }

  .partners__block {
    justify-content: center;
  }
}