.video {
  &-container {
    max-width: 100%;

  }

  &__block {
    background-image: url('../images/bgd-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    max-height: 705px;
  }

  &__background {
    img {
      display: block;
      max-width: 100%;

    }
  }

  &__img {
    cursor: pointer;
    background: #3f404471;
    max-width: 6.9em;
    max-height: 6.9em;
    padding: 1em;
    margin: 0 auto;
    border-radius: 50%;
    transition: 1s;

    &:hover {
      background: #3f4044f6;
      transform: scale(.8);
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__info {
    padding: 22vh 0;
    // position: absolute;

  }

  &__title {
    margin-top: 1.5em;
    font-size: 3vh;
    @include font-R;
    color: #fff;
    font-weight: 500;
  }

  &__text {
    width: 60%;
    padding-top: 1em;
    color: #fff;
    margin: 0 auto;
    line-height: 2em;
    @include font-MT;
    font-weight: 400;
  }

  &__time {
    display: block;
    margin-top: 4em;
    color: $color-l-brown;
    font-weight: 600;
  }
}

@media screen and (max-width: 1000px) {
  .video__info {
    padding: 13vh 0;
  }
}
@media screen and (max-width: 720px) {
  .video__info {
    padding: 7vh 0;
  }
}