.ideas {
  &-container {
    padding: 0 16%;
    padding-top: 5.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(250, 250, 250);
  }

  &__title {
    font-size: 3vh;
    font-family: 'Raleway', sans-serif;
    color: $color-s-gray;
    font-weight: 600;
  }

  &__text {
    padding-top: 1em;
    color: $color-gray;
    width: 70%;
    margin: 0 auto;
    line-height: 2em;
  }

  &__img-wrapper {
    margin-top: 10em;
    position: relative;
    width: 100%;
    display: flex;

    img {
      display: block;
      width: 100%;
      max-width: 770px;
      max-height: 482px;
    }
  }

  &__img--center {
    position: absolute;
    z-index: 3;
    left: 20%;
    bottom: 0;
    img{
      width: 80%;
      margin: 0 auto;
    }
    
  }
}
@media screen and (max-width: 720px){
  .ideas-container {
      padding: 2em 2% 0;
    }
}